<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SwaglabsLoginTest">
        <parameter name="platformName" value="Android"></parameter>
        <parameter name="devicename" value="emulator-5554"></parameter>
        <classes>
            <class name="Tests.SwaglabsLoginTest"></class>
        </classes>
    </test>
</suite>